@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-align: center;
 }
 
 header {
  display: none;
 }

 main {
  padding: 15px;
 }

 main::after {
  content: "Rafael de Lima Esteve aqui";
 }

