@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
 }
 
 header > nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 10px;
 }

 article {
  max-width: 500px;
 }

 main {
  display: flex;
  justify-content: center;
  padding: 15px;
 }

