body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

td {
  border: 4px solid red;
  background-color: black;
  color: white;
  padding: 50px;
}

td:hover {
  font-size: 5em;
  color: green;
}


table {
  min-width: 300px;
  border-collapse: collapse;
  text-align: center;
}