* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("images/wallpaper002.jpg");
  background-position: center;
}

main {
  background-color: white;
  width: 400px;
  padding: 20px;
  border: 1px solid blue;
  margin: 50px auto;
}