* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
 

  background: blue url("images/wallpaper002.jpg") center/cover no-repeat fixed;
}

main {
  background-color: white;
  border-radius: 20px;
  max-width: 700px;
  padding: 20px;
  border: 1px solid blue;
  margin: 50px auto;
}

main p {
  line-height: 1.5;
}