@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", sans-serif;
  --fonte3: "Passion One", sans-serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--fonte1);
}

header {
  background-color: black;
  color: white;
  text-align: center;
  font-family: var(--fonte2);
  font-weight: bolder;
}

header > h1 {
  font-size: 7vw;
  padding-top: 20px;
  font-variant: small-caps;
}

header > p {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.15s;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

.normal,
.imagem {
  padding: 10vh 0 10vh 40px;
  line-height: 2;
  font-family: var(--fonte3);
  font-size: 3vw;
}

main article section p {
  padding-bottom: 2em;
}

.imagem {
  background-color: darkgray;
  background-size: cover;
  background-attachment: fixed;
}

.imagem p {
  background-color: rgba(128, 123, 123, 0.493);
  color: white;
  display: inline-block;
  padding: 5px;
  text-shadow: 2px 2px 0 black;
}

#img1 {
  background-image: url("images/background001.jpg");
  background-position: right center;
}

#img2 {
  background-image: url("images/background002.jpg");
}

footer { 
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  font-weight: bolder;
}