@charset "UTF-8";

/* Media Queries*/


/*tablet*/
@media screen and (min-width: 724px) {
  #phone {
    display: none;
  }

  #tablet {
    display: block;
  }

  :root {
    --fundo: url("../images/back-tablet.jpg");
  }
}

/*pc*/
@media screen and (min-width: 999px) {
  #tablet {
    display: none;
  }

  #pc {
    display: block;
  }

  :root{
    --fundo: url("../images/back-pc.jpg");
  }
}

@media screen and (min-width: 1200px) {
  #pc {
    display: none;
  }

  #tv {
    display: block;
  }

  :root {
    --fundo: url("../images/back-tv.jpg");
  }
}

@media print {
  #tv,
  #tablet,
  #phone,
  #pc {
    display: none;
  }

  #print {
    display: block;
  }

  :root {
    --fundo: url("../images/back-print.jpg")
  }
}
