@charset "UTF-8";

:root {
  --fundo: url("../images/back-phone.jpg");
}

/*Mobile First*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

body {
  min-height: 100vh;
  width: 100%;
  background: black var(--fundo) no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

main {
  background-color: rgba(255, 255, 255, 0.613);
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

img {
  display: block;
  margin: auto;
}

#tablet,
#print,
#pc,
#tv {
  display: none;
}