.hero {
  max-width: 600px;
  height: 600px;
  background-color: blue;
  border-radius: 10px 10px 0 0;
  margin: auto;
}

h1 {
  background-color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

body {
  background-color: lightseagreen;
}

.video1 {
  background-color: red;
  max-width: 600px;
  padding: 20px 0;
  position: relative;
  padding-bottom: 60%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}